#wpwrap {
    background: #F9F7F7;
}

#wpcontent {
    height: calc(100vh - 32px);
    padding-left: 0 !important;
}

#wpbody, #wpbody-content {
    height: 100%;
    padding-bottom: 0;
}

.hxp {
    height: calc(100% - 20px);
    display: grid;
    grid-template-rows: 110px 2fr 1fr;
    grid-template-areas: "heading" "listarea" "createDownload";
    text-overflow: ellipsis;
    padding-bottom: 20px;
    grid-gap: 10px 0;
}

.hxp #hxpOverlay
{
    display: none;
    grid-template-rows:  1fr 100px 80px 50px 50px 2fr;
    grid-template-areas:  "spacer_1" "oHeader" "oProgressContainer" "oText" "oButton" "spacer_2";
    justify-items: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: whitesmoke;
    z-index: 1;
}
.hxp #oProgressContainer
{
    grid-area: oProgressContainer;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "oLoader" "oProgressBar";
    justify-items: center;
    align-items: center;
}

#hxp #oProgressBar
{
    grid-area: oProgressBar;
}

.hxp #oHeader
{
 grid-area: oHeader;
}

.hxp #oText
{
    grid-area: oText;
}

.hxp #oButton
{
    pointer-events: none;
    color: lightgrey;
    grid-area: oButton;
}

.hxp #oLoader
{
    grid-area: oLoader;
    border: 4px solid lightgrey;
    border-top: 4px solid #3F72AF;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.hxp h1, .hxp h2, .hxp h3, .hxp h4, .hxp h5, .hxp h6 {
    color: #3F72AF;
}

.hxp ul {
    list-style: none;
    display: grid;
    grid-auto-rows: 45px;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
}

.hxp li, .tableHead {
    display: grid;
    grid-template-columns: 100px 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.hxp li:nth-child(even) {
    background-color: #DBE2EF;
}

.tableHead {
    background-color: #3F72AF;
    color: #DBE2EF;

}

#headertext {
    grid-area: heading;
    text-align: center;
    background-color: #112D4E;
    color: #DBE2EF;
    display: grid;
    align-content: center;
    overflow: hidden;
}

#headertext h1 {
    color: #DBE2EF;
}

#generateList {
    grid-area: listarea;
    padding: 0 20px;
    display: grid;
    grid-template-rows: 40px 1fr;
    grid-template-columns: 1fr 50px 200px;
    grid-template-areas: "firststep progressIndicator refreshListButton" "list list list";
    min-height: 0;
}

#firstStepHeading {
    grid-area: firststep;
}

#progressIndicator {
    grid-area: progressIndicator;
}

#loadButton {
    grid-area: refreshListButton;
    height: 20px;
    align-self: center;
}

#listElements {
    grid-area: list;
    border: solid 3px #DBE2EF;
    min-height: 0;
    overflow: hidden;
}

#wpfooter {
    display: none;
}

#createDownloadArea {
    padding: 0 20px;
    grid-area: createDownload;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 200px;
    grid-template-areas: "listColors listFonts listImages downloadButton";
    grid-gap: 0 10px;
}

#neededColorsArea {
    grid-area: listColors;
    display: grid;
    grid-template-rows: 40px 1fr;
}

#neededFontsArea {
    grid-area: listFonts;
    display: grid;
    grid-template-rows: 40px 1fr;
}

#neededImagesArea {
    grid-area: listImages;
    display: grid;
    grid-template-rows: 40px 1fr;
}

#neededFontsArea ul, #neededColorsArea ul, #neededImagesArea ul {
    border: solid 3px #DBE2EF;
}

#neededColorsArea ul li, #neededImagesArea ul li, #neededFontsArea ul li {
    padding-left: 10px;
    display: grid;
    justify-items: flex-start;
    text-overflow: ellipsis;
    overflow: hidden;
}

.imagePreview {
    background-size: contain !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
}

#neededColorsArea ul li {
    grid-template-columns: 1fr 1fr 50px;
}

#neededImagesArea ul li {
    grid-template-columns: 1fr 50px;
}

#neededFontsArea ul li {
    grid-template-columns: 1fr 1fr 1fr;
}

#downloadButtonArea {
    grid-area: downloadButton;
    display: inline-grid;
    align-items: flex-end;
}

.subtableHead {
    background-color: #3F72AF;
    color: #DBE2EF;
}
